.produtos{
    figure{
        display:flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;

        img{
            cursor: pointer;
        }
    }
}

@media (max-width: 768px){
    .produtos{
        img{
            width: 40vw;
            justify-content: center;
            gap: 40px;

        }
    }
}