header{
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 15px;

    ul{
        display: flex;
        list-style: none;
        //border: solid;
        width: 35vw;
        justify-content:flex-end;
        flex-wrap: wrap;
    }
}