footer{
    border-top: solid rgb(163, 147, 147);
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 160px;
    height: 30vh;
    align-items: center;
    margin-left: 50px;

    h4 {
        padding-bottom: 20px;
   }

   nav{
    li{
        list-style: none;
        color: #2D2D2D;
        font-weight: 300;
        padding: 5px;
    }
  }
}

.pagamento{
    figure{
        width: 30vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 200px;

        img{
            width: 250px;
        }
    }
}

.redes{
    figure{
        width: 30vw;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}